.gradient-font {
    background: linear-gradient(to top right, #ff0000, #87ceeb, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.bdy{
    background-color: aqua;
}
